*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.gradle/6.5/fileHashes/fileHashes.lock
.gradle/6.5/fileHashes/fileHashes.bin
local.properties
.idea/libraries/Gradle__com_baoyz_swipemenulistview_library_1_3_0_aar.xml